[submodule "bundle/rbrepl.vim"]
	path = bundle/rbrepl.vim
	url = https://github.com/Bogdanp/rbrepl.vim.git
        ignore = untracked
[submodule "bundle/hemisu"]
	path = bundle/hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = https://github.com/bartekd/xoria256.vim.git
