[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = git@github.com:bartekd/xoria256.vim.git
        ignore = untracked
[submodule "bundle/vim-addon-manager"]
	path = bundle/vim-addon-manager
	url = https://github.com/MarcWeber/vim-addon-manager.git
        ignore = untracked
[submodule "bundle/rbrepl.vim"]
	path = bundle/rbrepl.vim
	url = https://github.com/Bogdanp/rbrepl.vim.gitp
        ignore = untracked
